body {
	background: #8D8D8D;
}
#me {
	background: url("me.png");
	width: 139px;
	height: 489px;
	display: block;
	margin: 50px;
	float: left;
}

#me2 {
	width: 139px;
	height: 489px;
	display: block;
	margin: 50px;
	float: left;
}
.row {
	clear: both;
}
.base {
	width: 6px;
	height: 6px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
.hair {
	background: #3e2e16;
}
.skinDark {
	background: #d2a584;
}
.skinLight {
	background: #eeccb4;
}
.hoodDark {
	background: #29435e;
}
.hoodLight {
	background: #35577a;
}
.white {
	background: #fff;
}
.jean {
	background: #333333;
}
.jeanLight {
	background: #3d3c3c;
}
.shoe {
	background: #d6d2d1;
}
.shoeDark {
	background: #403f3f;
}

#myInfo {
  position: absolute;
  top: 200px;
  left: 20px;
}

#myInfo h1 {
  font: 66px/80px 'SilkscreenNormal', Arial, sans-serif;
  letter-spacing: 1px;
  color: #0f754f;
  text-shadow: 1px 2px 0 rgba(255, 255, 255, 0.1), -2px -1px 0 rgba(0,0,0,0.3), 0 3px 0 rgba(255, 255, 255, 0.3);
  margin-bottom: -10px;
}

#myInfo h2 {
  font: 18px/27px 'SilkscreenNormal', Arial, sans-serif;
  margin-left: 7px;
  letter-spacing: 1px;
}

.jean
{
position:relative;
animation:myfirst 5s linear 2s infinite alternate;
/* Firefox: */
-moz-animation:myfirst 5s linear 2s infinite alternate;
/* Safari and Chrome: */
-webkit-animation:myfirst 5s linear 2s infinite alternate;
}

@keyframes myfirst
{
0%   {left: random(); top: random();}
25%  {left: random(); top: random();}
50%  {left: random(); top: random();}
75%  {left: random(); top: random();}
100% {left: random(); top: random();}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {left: random(); top: random();}
25%  {left: random(); top: random();}
50%  {left: random(); top: random();}
75%  {left: random(); top: random();}
100% {left: random(); top: random();}
}

@-webkit-keyframes myfirst /*Safari and Chrome */
{
0%   {left: random(); top: random();}
25%  {left: random(); top: random();}
50%  {left: random(); top: random();}
75%  {left: random(); top: random();}
100% {left: random(); top: random();}
}
